{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/doncecurrencyconvert/js/convert.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="convert_form_container">
        {% include "@DonceCurrencyConvert/Default/form.html.twig" %}
    </div>
{% endblock %}
